.products {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0px 0px 160px 100px;
  justify-content: center;
  overflow: visible; /* Allow the cards to overlap when hovered */
  position: relative;
}

.product-card {
  width: calc((100% - 80px) / 5); /* Set each product's width */
  position: relative;
}
